html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    min-height: 100vh;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
*:not(code){
    font-family: "Roboto";
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient( 125deg , #EF6668 0%, #EF6668 40%, #B2FCFF calc(40% + 1px), #b2fcff 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
    color: #565656;
}

.glass:not(table){
    background: rgb(255, 255, 255, 0.6);
    box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}
table.glass code{
    background: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.content {
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-gap: 20px;

    width: 100%;
    max-width: 1200px;

    margin: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#lang-selector{
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
}

#lang-selector .lang{
    padding: 5px 20px;
    min-width: 120px;
    text-align: center;
    cursor: pointer;

    text-transform: capitalize;
}

#lang-selector .lang.active{
    background: rgba(255,255,255,1);
    font-weight: bold;
}

#lang-selector .lang:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
    background: rgba(255,255,255,0.5);
}

#search{
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    max-width: 400px;
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    cursor: pointer;
    display: grid;
    grid-template-columns: 170px repeat(auto-fit, minmax(0, 1fr) );
}

table thead th {
    padding-bottom: 5px;
    text-transform: capitalize;
}


table tbody tr{
    cursor: pointer;
}

table tbody tr:hover code {
    background: rgba(255,255,255,0.8);
}
  
table tbody tr > th{
    min-width: 160px;
    max-width: 200px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}



table code {
    display: flex;
    white-space: pre-wrap;
    background: lightblue;
    margin: 0 10px;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

td {
    padding: 0px;
}

tr:not(:first-child) code{
    border-top: 1px solid rgb(94 223 255 / 50%);
}

tr:first-child code {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:last-child code {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
